.app-container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  color: #001858;
  font-size: 48px;
  margin-top: 0;
  padding-top: 24px;
}

.image-container {
  height: 350px;
  width: 350px;
  position: absolute;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  background: #ffffff;
  border: 3px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
}

.dropzone {
  height: 350px;
  width: 350px;
  margin: 0 auto 18px auto;
  border: dashed 8px #001858;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .title {
    font-size: 40px;
  }
}
