.app-container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #fef6e4;
}

.title {
  color: #001858;
}

.image-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: dashed pink;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  background: #ff8906;
  border: 3px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 20px;
  font-family: inherit;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed red;
  height: 80px;
  width: 400px;
  margin: 16px auto 0 auto;
}
