.app-container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  border: 1px dashed blue;
  background: #fef6e4;
}

.title {
  color: #001858;
}

.image-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}
