.app-container {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  color: #001858;
  font-size: 48px;
  margin-top: 0;
  padding-top: 24px;
}

.image-container {
  height: 350px;
  width: 350px;
  position: absolute;
  /* height: 350px;
  width: 350px;
  margin: 0 auto;
  border: dashed 8px #001858;
  border-radius: 24px; */
}

img {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  background: #ffffff;
  border: 3px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
}

/* style the file input, attrib: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
.btn-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* TODO: delete this if we add drag/drop */
/* .btn + label {
  background: #fff;
  border: 3px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
} */

.btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 400px;
  margin: 16px auto 0 auto;
}

.dropzone {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  border: dashed 8px #001858;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
